<p>The Template reference variable is a reference to any DOM element,
  component or a directive in the Template</p>

<h1>{{title}}</h1>


<p>We have used (keyup)="0" on the input element.
  It does nothing but it forces the angular to run the change detection.
  change detection, in turn, updates the view.</p>

<p>
  <label for="firstName">First Name</label>
  <input #firstName (keyup)="0" id="firstName" type="text">
</p>

<p>
  <label for="lastName">Last Name</label>
  <input #lastName (keyup)="0" id="lastName" type="text">
</p>

<b>Welcome {{firstName.value}} {{lastName.value}} </b>

<p>You can also pass the variables to the component as as below btn</p>
<button (click)="sayHello(firstName, lastName)"> Say Hello</button>


You have selected {{customerListComponent.selectedCustomer?.name}}
<!--<app-customer-list #customerListComponent></app-customer-list>-->

<p>If there is more then one directive (may be an attribute directive) <br>
<!--  e.g: <pre><a-directive b-directive #variable /></pre>-->

then we need to specify which directive to use for variable <br><br>
  This can be fixed by <b>Export As</b>.
</p>
<app-customer-list #customerListComponent="cusList"></app-customer-list>

<p>Note: <br>
  The scope of the template reference variable is the template within which it is declared.
  You cannot access it outside the template.
  E.g: We can't access it from customer list component.
</p>




